.myBtn {
  width: 100%;
  height: 46px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: #465efd;
  color: #FFFFFF;
  border-radius: 12px;
  margin-bottom: 20px;
  span{
    color: #FFFFFF !important;
  }
  
}
